body{
    background: lightsteelblue;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.app-title{
    text-align: center;
    color: black;
    font-size: 40px;
}
.container{
    background-color: whitesmoke;
    font-size: 15px;
    position: absolute;
    width: 100%;
    padding-top: 2%;
}
.btn{
    margin-left: 10px;
}
ul,li{
    list-style-type: none;
}